/* test code for now */
.input {
    border-radius: 3px;
}

.results {
    font-size: 16px;
    padding: 5px;
}

tr {
    border: 2px;
}

body {
    width: 20rem;
    height: 3rem;
    background-color: rgb(255, 249, 251);
}